{% extends "base.html.twig" %}

{% block body %}
    <h1>Voici la liste des utilisateurs inscrits à l'application</h1>

    {{ sg_datatables_render(datatable) }}

    <div class="clearfix"></div>
{% endblock %}
