{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.gamingProfiles|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-email').click(function(e) {
                e.preventDefault();

                var emailList = jQuery('#email-fields-list');

                // grab the prototype template
                var newWidget = $("#fos_user_profile_form_gamingProfiles").attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<p></p>').html(newWidget);
                newLi.appendTo(emailList);
            });
        });
    </script>
{% endblock %}
