{% extends "@MGDEvent/layout.html.twig" %}

{% block action_body %}
    <div class="row text-center padding-top-20 ">
        <a href="#" class="btn btn-success margin-right-20">S'inscrire</a>
    </div>
{% endblock %}
