{% extends "@MGDEvent/layout.html.twig" %}
{# @var event \MGD\EventBundle\Entity\TournamentTeam #}
{% block action_body %}
    <div class="row text-center padding-top-20 ">
        <a href="{{ path('mgd_team_new', {"id" : event.id} ) }}" class="btn btn-success margin-right-20">Créer une équipe</a>
        <a href="#teams" class="btn btn-primary">Rejoindre une équipe</a>
    </div>
{% endblock %}

{% block more_info %}
<div id="teams">
    <h2>Les équipes inscrites</h2>

    {% if event.teams %}
        {% include "@MGDEvent/Team/list.html.twig" %}
    {% else %}
        Aucune équipe inscrite jusqu'à présent : <a href="{{ path('mgd_team_new', {"id" : event.id} ) }}">soyez le premier à créer votre équipe</a>!
    {% endif %}
</div>
{% endblock %}
