{% extends 'base.html.twig' %}

{% block body %}
    <div class="margin-top-10">
        <h1>Créer une news</h1>

        {{ form_start(form) }}
        {{ include('@MGDNews/news/newsType.html.twig') }}
        <input class="btn btn-primary pull-right" type="submit" value="Créer"/>
        {{ form_end(form) }}

        <a class="btn btn-default pull-right margin-right-15" href="{{ path('mgd_news_list') }}">Retour à la liste</a>
        <div class="clearfix"></div>
    </div>
{% endblock %}
