{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% if news.cover %}
        <div class="pull-right col-md-5">
            <img src="{{ news.cover }}" title="{{ news.title }}" width="100%">
        </div>
        {% endif %}

        <h1 class="text-center">{{ news.title }}</h1>
        {{ news.body|raw }}
    </div>

    <div class="clearfix"></div>
{% endblock %}
